/*======Fonts===============*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*====Variables==============*/

:root {

    --ff-primary: 'Cabin', sans-serif;
    --max-width: 1170px;
    --transition: all 0.3s linear;
    --radius: 0.5rem;
}

/*======Global styles=========*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}


body {

    line-height: 1.5;
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    background-color: #fff;
}

ul {

    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.nav-logo) {

    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5 {

    margin-bottom: 0.75rem;
    
}

h1 {

    font-size: 3rem;
}

h2 {

    font-size: 2rem;
}

h3 {

    font-size: 1.25rem;
}

h4 {

    font-size: 0.875rem;
}

p {

    margin-bottom: 1.25rem;
}

/*=====Global classes========= */

/*=======Section========*/
.section {

    padding: 5rem 0;
}

.section-center {

    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px){
    .section-center {

        width: 95vw;
    }
}


/*======Header======*/
.header {

    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 1.2rem 13%;
    
}
.header .navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .nav-logo{

    width: 50px;
    height: auto;
    max-width: 100%;
    
}

.header .navbar .nav-links {

    display: flex;
    justify-content: space-between;
    
}

.header .navbar .nav-links a {

    margin-left: 2rem;
    font-size: 0.989rem;
    color: #555;
    font-weight: 600;
    transition: var(--transition);
}

.header .navbar .nav-links a:hover {

    color: #1abc9c;
    
}
