@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

html {

	overflow-x: hidden;
	
}
@font-face {
	font-family: "zoula-family";
	src: url("./zoula.ttf");
}

img {

	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ul,li {

	list-style-type: none;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}


body {

	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	line-height: 1.6;
	background-color: #fdfdff;
}

h1 {

	font-size: 3rem;
	color: #393d3f
}


h3 {

	font-family: "zoula-family";
	color: #979dac;
	font-size: 3rem;
	font-weight: lighter;
}
.container {

	max-width: 1100px;
	margin: 0 auto;
}
.header {

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem;
}

.header .logo {

	font-family: "zoula-family";
	color: #f95738;
	letter-spacing: 2px;
	font-weight: bold;
	
}

.header .navbar a {

	margin-left: 2rem;
	color: #808285;
	text-transform: uppercase;
	font-family: cursive;
	font-size: .7rem;
	font-weight: 600;
}

.home {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	align-items: center;
	height: 80vh;
	text-align: center;
	position: relative;
}

.home .cv {

	padding: 10px 15px;
	background-color: #8f2d56;
	color: #fff;
	display: inline-block;
	margin-top: 15px;
	border-radius: 4px;
}

.home .home-content p {

	color: #808285;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.6;
}

.techno {

	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.techno h2 {

	margin: 3rem 0;	
	font-family: "zoula-family";
	color: #5e6472;
	font-size: 2rem;
	font-weight: lighter;
}
.techno .box-container{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 2rem;
}

.techno .box-container .box {

	flex: 1 1 15rem;
	
}
.techno .box-container .box i {

	font-size: 5rem;
}

.techno .box-container .box h4 {

	text-transform: uppercase;
	font-family: cursive;
	color: #5e6472;
	font-size: .8rem;
}

/*============Portfolio Section===============***/

.portfolio {

	padding-top: 3rem;
}
.portfolio .portfolio-1 {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.portfolio .portfolio-1 .image  {

	flex: 1 1 30rem;
}

.portfolio .portfolio-1 .content {

	flex: 1 1 30rem;
}

/*****=========Contact Section=======**********/


.contact {

	
	padding-top: 1rem;
	text-align: center;
	position: relative;
	
}

.contact .address-info {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding: 1rem 0;
}

.contact .address-info .box {

	flex: 1 1 20rem;
}

.contact .address-info .box i {

	font-size: 1.8rem;
	color: #8f2d56;
}

.contact .address-info .box p {

	color: #6c757d;
	font-size: 1rem;
	font-weight: bold;
}


.contact-container {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}

.contact-container .left {

	flex: 1 1 20rem;
}

.contact-container .right {

	flex: 1 1 30rem;
}


.contact-container input {

	width: 80%;
	padding: 10px 15px;
	margin: 4px;
	border: 1px solid #dcdfe6;
	font-family: 'Catamaran', sans-serif;
	color: #808285;
	font-weight: bold;
}

.contact-container textarea {

	width: 80%;
	padding: 6px;
	resize: none;
	border: 1px solid #dcdfe6;
	font-family: 'Catamaran', sans-serif;
	padding: 10px 15px;
	font-weight: bold;
	color: #808285;
}

.contact-container input[type="submit"] {

	background-color: #8f2d56;
	color: #fff;
	cursor: pointer;
	padding: 15px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 0.9rem;
	font-family: cursive;
}


/**==============End CONTACT Section================**/